<div style="position:fixed;bottom:0;left:0;text-align:right;">
    <span class="text-muted">bidb@tigem@2019@Engerek.KYS</span>
</div>
<div style="bottom:0;right:0;position: fixed;text-align:left">
    <span style="font-size:7px">MeryemBalcı@ </span><img width="20" height="20" src="/public/img/nodejs.png" alt="nodejs logosu">
</div>
